<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <section th:insert="~{base :: header}"></section>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<section th:insert="~{base :: navbar}"></section>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card" style="width: 18rem; border: none; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);" th:each="item,status : ${item_view}">
        <div class="text-center" style="padding: 20px 10px;">
            <h1 class="card-header" style="font-size: 1.5rem; font-weight: bold; color: #333;" th:text="${collection_item.title}"></h1>
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-weight: 600; color: #555;" th:text="${item.name}"></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:if="${collection_item.custom_string1_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_string1_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customStringFields[collection_item.custom_string1_name]}"></span>
                </div>
            </li>
            <li class="list-group-item" th:if="${collection_item.custom_string2_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_string2_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customStringFields[collection_item.custom_string2_name]}"></span>
                </div>
            </li>
            <li class="list-group-item" th:if="${collection_item.custom_string3_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_string3_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customStringFields[collection_item.custom_string3_name]}"></span>
                </div>
            </li>

            <li class="list-group-item" th:if="${collection_item.custom_int1_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_int1_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customIntFields[collection_item.custom_int1_name]}"></span>
                </div>
            </li>
            <li class="list-group-item" th:if="${collection_item.custom_int2_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_int2_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customIntFields[collection_item.custom_int2_name]}"></span>
                </div>
            </li>
            <li class="list-group-item" th:if="${collection_item.custom_int3_state}" style="background-color: #f9f9f9;">
                <div>
                    <span class="fw-bold" style="color: #333;" th:text="${collection_item.custom_int3_name}"></span>
                    <span>:</span>
                    <span class="ms-2" style="color: #666;" th:text="${item.customIntFields[collection_item.custom_int3_name]}"></span>
                </div>
            </li>
        </ul>

        <div class="card-body d-flex justify-content-around align-items-center" style="padding-top: 10px;">
            <div class="d-flex align-items-center justify-content-center text-danger" style="cursor: pointer;"><!-- Like -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
                <span style="margin-left: 5px">0</span>
            </div>
            <div class="d-flex align-items-center justify-content-center text-primary" style="cursor: pointer;"><!-- Comment -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                </svg>
                <span style="margin-left: 5px">0</span>
            </div>
        </div>
    </div>

</div>



<script th:src="@{/js/themeJs.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>

