<!--Unauthenticated user-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <section th:insert="~{base :: header}"></section>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<section th:insert="~{base :: navbar}"></section>

<div class="container" style="text-align: center; margin-bottom: 25px">
    <h1>welcome to Collection web application</h1>
</div>

<!--<div class="container d-flex">-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="card" th:each="item : ${item_view}"
             style="margin: 15px;width: 18rem; border: none; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">

            <div class="text-center" style="padding: 20px 10px;">
                <h1 class="card-header" style="font-size: 1.5rem; font-weight: bold; color: #333;"
                    th:text="${item.userCollection.title}"></h1>
            </div>

            <div class="card-body">
                <h5 class="card-title" style="font-weight: 600; color: #555;" th:text="${item.name}"></h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:if="${item.userCollection.custom_string1_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_string1_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customStringFields[item.userCollection.custom_string1_name]}"></span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${item.userCollection.custom_string2_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_string2_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customStringFields[item.userCollection.custom_string2_name]}"></span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${item.userCollection.custom_string3_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_string3_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customStringFields[item.userCollection.custom_string3_name]}"></span>
                    </div>
                </li>

                <li class="list-group-item" th:if="${item.userCollection.custom_int1_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_int1_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customIntFields[item.userCollection.custom_int1_name]}"></span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${item.userCollection.custom_int2_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_int2_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customIntFields[item.userCollection.custom_int2_name]}"></span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${item.userCollection.custom_int3_state}"
                    style="background-color: #f9f9f9;">
                    <div>
                        <span class="fw-bold" style="color: #333;"
                              th:text="${item.userCollection.custom_int3_name}"></span>
                        <span>:</span>
                        <span class="ms-2" style="color: #666;"
                              th:text="${item.customIntFields[item.userCollection.custom_int3_name]}"></span>
                    </div>
                </li>
            </ul>

            <div class="card-body d-flex justify-content-around align-items-center" style="padding-top: 10px;">
                <!--Like-->
                <form th:action="@{/items/{itemId}/like(itemId=${item.id})}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <div class="d-flex align-items-center justify-content-center text-danger" style="cursor: pointer;" onclick="this.closest('form').submit();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                        <span th:text="${item.likes.size()}" style="margin-left: 5px"></span>
                    </div>
                </form>

                <!--Comment-->
                <div>
                    <div class="d-flex align-items-center justify-content-center text-primary" style="cursor: pointer;"
                         data-bs-toggle="modal" th:attr="data-bs-target='#commentModal' + ${item.id}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-chat-fill" viewBox="0 0 16 16">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                        </svg>
                        <span style="margin-left: 5px"
                              th:text="${#lists.size(item.comments)}"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Comment Modal -->
<div th:each="item : ${item_view}">
    <div class="modal fade" th:id="'commentModal' + ${item.id}" tabindex="-1"
         aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Comments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- List of Comments -->
                    <div class="comments-section mb-4">
                        <ul class="list-group">
                            <li class="list-group-item" th:each="comment : ${item.comments}">
                                <strong th:text="${comment.user.name}"></strong> : <span
                                    th:text="${comment.comment}"></span>
                            </li>
                            <!-- Additional comments can be added here -->
                        </ul>
                    </div>

                    <!-- Comment Input Field -->
                    <form method="post" th:action="@{/comments/add}">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <input type="hidden" name="itemId" th:value="${item.id}"/>

                        <div class="d-flex align-items-center">
                            <textarea name="comment" class="form-control me-2" placeholder="Write your comment here..." required></textarea>
                            <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/themeJs.js}"></script>
<!--this will make navbar work while in login or register page or any page-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>


